django
djangorestframework
pandas>=1.3.0
numpy>=1.21.0
matplotlib>=3.4.0
social-auth-app-django
social-auth-core
python-magic
scikits.bootstrap
python-magic-bin==0.4.14
python-magic==0.4.27
pkg_resources
scikit-learn>=1.0.2
scipy>=1.7.0
chardet