/* DatasetMappingPage.module.css */
.datasetMappingPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #22252B;
  color: #fff;
}


.mainContent {
  padding: 20px;
}

.pageTitle {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.formContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.container {
  background-color: #191D23; 
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); 
}

.sectionTitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure the container doesn't overflow */
}


label {
  font-size: 1rem;
  display: block;
  margin-bottom: 8px;
}

.formInput {
  width: 90%; /* Ensure the input spans the full width of its container */
  padding: 12px; /* Add padding for better spacing */
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 1rem;

  /* Add these lines to prevent overflow */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add "..." for overflowing text */
}


.required {
  color: #ff5252;
}

.formFooter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nextButton {
  background-color: #0D1B32;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nextButton:hover {
  background-color: #0038cc;
}
