{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to AMRSuite</title>
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">
    
</head>
<body>
    <nav>
        <div class="logo">AMRSuite</div>
        <div class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            <img src="{% static 'media/tavlab.logo.png' %}" alt="Tav Lab Logo" />
        </div>
    </nav>

    <div class="page-container">
        <div class="left-half">
            <section class="login-section">
                <div class="welcome-text">Welcome to AMRSuite</div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                            <button type="button" class="close" onclick="this.parentElement.style.display='none'">&times;</button>
                        </div>
                    {% endfor %}
                {% endif %}
                <h1>Login</h1>
                <form class="login-form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="text" name="username" class="input-box" placeholder="Username" required>
                    <input type="password" name="password" class="input-box" placeholder="Password" required>
                    <a href="#" class="forgot-password">Forgot password?</a>
                    <button type="submit" class="sign-in-btn" id="login-button">Sign in</button>
                    
                    <div class="divider">
                        <span>or</span>
                    </div>
                    
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-btn" style="text-decoration: none;">
                        <img src="{% static 'media/google.logo.png' %}" alt="Google logo" width="20" height="20">
                        <span>Sign in with Google</span>
                    </a>
                </form>
            </section>
        </div>

        <div class="right-half">
            <section class="signup-section">
                <h2>New Here?</h2>
                <p class="signup-text">Sign up to explore and analyze your AMST data!</p>
                <a href="{% url 'signup' %}">
                    <button type="button" class="signup-btn">Sign up</button>
                </a>
            </section>
        </div>
    </div>
</body>
</html>

<script>
    document.getElementById('login-button').addEventListener('click', function(event) {
        document.getElementById('login-form').submit();
    });
</script>